body {
    background-color: #2cbb2c56;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    
}
h1{
    color: #3ebe1e;
    font-size: 36px;
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}
button {
    background-color: #25bd8f;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}
