body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9F6EE;
    color: #333;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

hr{
    width: 100%;
    border-top: 2px solid #333;
    margin: 20px 0;
}

header{
    text-align: center;
    padding: 20px;
}

h2{
    color: #06402B;
    border-bottom: 4px solid #6F4E37;
    padding-bottom: 4px;
    width: 25%;
    margin: 20px;
}

.bloqueGustos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    margin: 20px 0;
    border-radius: 8px;
    gap: 20px;
}

.item{
    background-color: #efeff0;
    padding: 10px 55px 10px 80px;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #6F4E37;
}

.contacto{
    text-align: left;
}